* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins-Regular";
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}


/*STYLE ICONS TRANSLATE*/

.icon-spanish {
    opacity: 1;
    line-height: 38px;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    display: block;
    text-align: center;
    transition: all .2s linear;
    z-index: 99;
    width: 38px;
    height: 38px;
    bottom: 50px;
    right: 20px;
}

.icon-english {
    opacity: 1;
    line-height: 38px;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    display: block;
    text-align: center;
    transition: all .2s linear;
    z-index: 99;
    width: 38px;
    height: 38px;
    bottom: 80px;
    right: 20px;
}

.icon-portuguese {
    opacity: 1;
    line-height: 38px;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    display: block;
    text-align: center;
    transition: all .2s linear;
    z-index: 99;
    width: 38px;
    height: 38px;
    bottom: 20px;
    right: 20px;
}


/*END ICONS TRANSLATE*/

header.header-home {
    height: 100vh;
    width: 100%;
    background-image: url("../imgs/banner/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.sub-header {
    background-color: #FFF;
    /* background-color: #e7e7e7; */
    width: 100%;
    box-shadow: 1px -2px 8px 2px #222222;
}

header.header-home .container,
.header-products .container,
.header-contact .container,
.header-company .container {
    display: flex;
}

.box-logo {
    flex-basis: 100%;
    max-width: 180px;
    padding: 10px;
}

.box-logo img {
    width: 100%;
}

.box-menu {
    flex-basis: calc(100% - 200px);
    display: flex;
    justify-content: flex-end;
    outline: none;
}

.menu {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menu li {
    display: flex;
    align-items: center;
}

.menu li a {
    display: flex;
    align-items: center;
    padding: 0 26px;
    color: #145238;
    font-size: 1em;
    text-decoration: none;
    font-family: "Poppins-Regular";
}

.menu li a::before {
    width: 30px;
    height: 2px;
    background-color: red;
    margin: 0 auto;
}

.menu li a:hover {
    color: #58a518;
}

.btn-mobile {
    display: none;
    margin: 40px 50px;
    padding: 0 30px;
    font-size: 1em;
}

.header-message {
    width: 100%;
    max-width: 600px;
    background-color: rgba(180, 180, 180, 0.5);
    margin: 150px auto 0 auto;
    text-align: center;
    font-family: "Poppins-SemiBold";
    padding: 40px 0;
}

.header-message h1 {
    font-size: 4em;
    color: #e7e7e7;
    text-shadow: 1px 1px 1px #000;
}

.header-message p {
    font-size: 1.5em;
    color: #222222;
}


/*Product*/

header.header-products {
    height: 100vh;
    width: 100%;
    background-image: url("../imgs/banner/banner17.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    border-radius: 0 0 150px 150px;
}

.header-message-product {
    width: 100%;
    max-width: 600px;
    background-color: rgba(180, 180, 180, 0.5);
    margin: 200px auto;
    text-align: center;
    font-family: "Poppins-SemiBold";
    padding: 40px 0;
}

.contact-product .container {
    max-width: 1000px;
}

.header-message-product h1 {
    font-size: 4em;
    color: #e7e7e7;
    text-shadow: 1px 1px 1px #000;
}

.contact-product {
    width: 100%;
    padding: 0 2%;
}

.contact-product .contact-title {
    width: 70%;
    margin: 0px auto 50px auto;
    text-align: center;
}

.contact-product .contact-title p {
    font-size: 0.9em;
    color: #222;
}

.product-wrap h1 {
    font-size: 1.2em;
}

.box-products {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 55px 0;
}

.box-products:nth-child(odd) {
    flex-direction: rown-reverse;
}

.box-products:nth-child(even) {
    float: right;
}

.products-desc .box-products {
    display: flex;
    height: 95%;
    width: 95%;
    margin: 20px 0;
}

.box-products .product-img {
    flex-basis: 40%;
}

.box-products img {
    width: 80%;
    height: 100%;
}

.box-products article {
    flex-basis: 60%;
    padding: 30px 20px;
    text-align: left;
}

.box-products article h1 {
    font-size: 1.3em;
    color: #222222;
    margin: 20px 0;
}


/*CARROSSEL*/

.galery-wrap h1 {
    font-size: 1em;
    color: #222;
}

img {
    max-width: 100%;
}

.clear {
    clear: both;
}

.box-carrosel {
    width: 900px;
    margin: 20px auto 50px;
    position: relative;
    padding: 10px 30px;
    background-color: #fff;
    overflow: hidden;
}

.box-carrosel .nav {
    position: absolute;
    top: 0;
    padding: 0 6px;
    display: table;
    height: 100%;
    background-color: #A6633F;
    color: #fff;
    cursor: pointer;
}

.box-carrosel .nav p {
    display: table-cell;
    vertical-align: middle;
}

.nav:hover {
    background-color: #BFA084;
}

.back {
    left: 0;
}

.forth {
    right: 0;
}

.carrosel {
    list-style: none;
    float: left;
    background-color: #fff;
    width: 1000%;
}

.carrosel .item {
    float: left;
    width: 173px;
    height: 210px;
    padding: 10px;
    margin-right: 12px;
    background-color: #ccc;
}

.carrosel .item img {
    width: 100%;
    height: 100%;
}


/*FIM DO CARROSEL*/


/*COMPANY*/

header.header-company {
    height: 100vh;
    width: 100%;
    background-image: url("../imgs/banner/banner20.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 50%;
    border-radius: 0 0 50px 50px;
}

.contact-company {
    width: 100%;
    margin: 80px 0;
}

.desc-company {
    padding: 0 2%;
}

.img-logo-company {
    width: 350px;
    height: 200px;
    margin: 0 auto;
}

.img-logo-company img {
    width: 100%;
    height: 100%;
}

.desc-company .container {
    display: flex;
    flex-direction: column;
}

.desc-company-content {
    display: flex;
    flex-direction: row;
}

.desc-company-content img {
    width: 450px;
    height: 300px;
}

.desc-company-content p {
    flex-basis: calc(100% - 450px);
    padding: 0px 40px;
    text-align: justify;
}

.desc-company-content:nth-of-type(2) {
    flex-direction: row-reverse;
}

.desc-company-content:nth-of-type(2) p {
    padding: 10px 40px 10px 0;
}


/*CONTACT*/

.header-contact {
    height: 100vh;
    width: 100%;
    background-image: url("../imgs/banner/banner20.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    border-radius: 0 0 150px 150px;
}

.header-message-contact {
    width: 100%;
    max-width: 600px;
    background-color: rgba(180, 180, 180, 0.5);
    margin: 200px auto;
    text-align: center;
    font-family: "Poppins-SemiBold";
    padding: 40px 0;
}

.header-message-contact h1 {
    font-size: 4em;
    color: #e7e7e7;
    text-shadow: 1px 1px 1px #000;
}

.header-message-contact p {
    font-size: 1.2em;
    color: #222222;
}

.content-contact {
    width: 100%;
}

.content-contact .contact-map {
    width: 100%;
    height: 450px;
}


/*FORM CONTACT*/

.content-form {
    width: 100%;
    padding: 50px 2%;
    font-family: "Poppins-Regular";
}

.content-form .container {
    display: flex;
    flex-direction: row;
}

.content-form .container .data-contact {
    flex-basis: 50%;
    padding: 20px 0;
}

.data-contact h1 {
    color: #3d3d3d;
    font-size: 1.6em;
}

.data-contact p {
    color: #3d3d3d;
    margin: 20px 0;
    line-height: 27px;
}

.data-contact .data-support {
    margin: 65px 0;
}

.data-contact .data-attendance p {
    margin: 5px 0 !important;
}

.data-contact .data-attendance h2 {
    color: #3d3d3d;
}

.content-form .container form {
    flex-basis: 50%;
}

form h1 {
    font-size: 1.6em;
    margin: 20px 0;
    color: #3d3d3d;
}

form .input-label {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

form .input-label label {
    font-size: 1.1em;
    color: #3d3d3d;
}

form .input-label label b,
form p b {
    color: red;
}

form .input-label input[type=text] {
    width: 80%;
    padding: 10px 5px;
    border: 1px solid #ccc;
    outline: none;
}

form .input-label textarea {
    height: 180px;
    resize: none;
    width: 90%;
    border: 1px solid #ccc;
}

form button {
    outline: none;
    width: 180px;
    height: 55px;
    border: none;
    background-color: #145238;
    font-size: 1.2em;
    color: #FFF;
    cursor: pointer;
}

form p {
    font-size: 0.9em;
    margin-top: 30px;
}

.footer-contact {
    width: 100%;
    height: 400px;
    background-image: url("../imgs/banner/certificado.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/*SECTION PREVIU*/

.content-previu {
    padding: 50px 2%;
    width: 100%;
}

.content-previu .container {
    max-width: 900px;
}

.content-previu-text {
    text-align: center;
}

.galery-wrap {
    margin: 50px 0;
}

.galery-wrap h1 {
    font-weight: 300;
    width: 130px;
    margin: 12px auto !important;
    background-color: #FFF;
    z-index: 99999;
    position: relative;
    color: #3d3d3d;
    text-align: center;
}

.content-wrap h1 {
    font-weight: 300;
    width: 130px;
    margin: 20px auto;
    background-color: #FFF;
    z-index: 99999;
    position: relative;
    color: #3d3d3d;
    text-align: center;
}

.content-wrap .wrap {
    width: 350px;
    height: 2px;
    position: relative;
    top: -35px;
    margin: 0 auto;
    background-color: #145238;
}

.content-previu-text p {
    font: size 1em;
    color: #3d3d3d;
}

.content-previu-box {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}

.content-previu-box .box-img {
    flex-basis: 30%;
    height: 200px;
}

.content-previu-box .box-img img {
    width: 100%;
    height: 100%;
}

.content-previu-box article {
    flex-basis: 70%;
    border-top: 2px solid #145238;
    border-right: 2px solid #145238;
    border-bottom: 2px solid #145238;
    padding: 20px;
    text-align: justify;
    color: #3d3d3d;
}

.content-previu-box:nth-of-type(2) .box-img,
.content-previu-box:nth-of-type(4) .box-img {
    height: auto;
}

.content-previu-box:nth-of-type(2),
.content-previu-box:nth-of-type(4) {
    flex-direction: row-reverse;
}

.content-previu-box:nth-of-type(2) article,
.content-previu-box:nth-of-type(4) article {
    border-radius: 20px 0 0 20px;
    border-left: 2px solid #BFA084;
    border-right: none;
}


/*CONTATO*/

.content-resAbout-contact {
    width: 100%;
    padding: 30px 2%;
    height: 500px;
    width: 100%;
    background-image: url("../imgs/banner/contato.jpg");
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-resAbout-contact .container h1 {
    font-size: 3em;
    height: 200px;
    margin: 50px auto 0 auto;
    text-align: center;
    width: 650px;
    color: #FFF;
    text-shadow: 1px 1px 1px #222;
}


/*resAbout*/

.content-resAbout {
    background-color: #f2f2f2;
    padding: 30px 2%;
    background-image: url("../imgs/banner/qualyta-10.jpg");
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.content-resAbout-product {
    background-color: #f2f2f2;
    padding: 30px 2%;
    background-image: url("../imgs/banner/edit1.jpg");
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.content-resAbout-video {
    background-color: #f2f2f2;
    padding: 30px 2%;
    background-image: url("../imgs/banner/edit2.jpg");
    background-position: 100% bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.content-resAbout .container,
.content-resAbout-product .container,
.content-resAbout-video.container {
    display: flex;
    flex-direction: row;
}

.content-resAbout .container .resAbout-text,
.content-resAbout-product .container .resAbout-text {
    padding: 30px;
    text-align: center;
    margin: 0 auto;
}

.content-resAbout-video .container .resAbout-text {
    padding: 30px;
    text-align: center;
    margin: 50px auto 0 auto;
}

.resAbout-text h1 {
    margin: 20px 0 40px 0;
    color: #FFF;
    font-size: 2em;
    text-align: center;
}

.resAbout-text p {
    color: #FFF;
    font-size: 1.2em;
    width: 70%;
    height: 200px;
    text-shadow: 1px 1px 1px #222;
    margin: 0 auto;
}

.content-resAbout-product .resAbout-text h1 {
    font-size: 3em;
    height: 200px;
    margin-top: 100px;
    width: 600px;
    text-shadow: 1px 1px 1px #222;
}

.content-resAbout-video .resAbout-text h1 {
    font-size: 3em;
    height: 200px;
    margin: 50px auto 0 auto;
    text-align: center;
    width: 650px;
    text-shadow: 1px 1px 1px #222;
}

.btn-play {
    width: 100%;
    height: 100%;
    margin: 30px 0;
}

.btn-play a {
    padding: 20px;
    border-radius: 50px;
    color: #FFF;
    font-size: 2.5em;
    text-decoration: none;
}

.icon-play3:before {
    margin-right: 0 !important;
}

.resAbout-text a.btn2 {
    margin-top: 50px;
}

.cover-btn2 {
    width: 100%;
    text-align: center;
}

.btn2 {
    background-color: #FFF;
    padding: 15px;
    border: 2px solid #145238;
    text-decoration: none;
    margin: 0 auto;
    width: 150px;
    color: #000;
    text-transform: uppercase;
}

.btn2:hover {
    background-color: #145238;
    color: #FFF;
    border: 3px solid #FFF;
    padding: 16px 16px 15px 16px;
}


/*Certification*/

.content-certification {
    background-image: url("../imgs/banner/certificado.jpg");
    background-size: 100% 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

.content-certification .container h1 {
    padding-top: 50px;
    font-size: 2.5em;
    color: #FFF;
    text-align: center;
    position: relative;
    z-index: 99999;
    text-transform: uppercase;
}

.wrap2 {
    width: 250px;
    height: 3px;
    position: relative;
    top: -5px;
    margin: 0 auto;
    background-color: #FFF;
}


/*FOOTER*/

footer {
    background-color: #FFF;
    padding: 50px 2%;
}

footer .container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo,
.footer-address,
.footer-social,
.footer-menu {
    flex-basis: calc(100% / 4);
}

footer .container .footer-logo {
    max-width: 220px;
}

footer .container .footer-logo img {
    width: 100%;
    height: 90%;
}

.footer-social {
    max-width: 200px;
}

.footer-social p a {
    text-decoration: none;
    color: #222222;
}

.footer-social p a:hover {
    text-decoration: underline;
}

.footer-menu {
    max-width: 150px;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #222222;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

.footer-sub {
    flex-basis: 100%;
    border-top: 2px solid #222;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.footer-sub p a {
    color: #222222;
}


/*MEDIA QUERY*/


/*1300px*/

@media (max-width: 81em) {}


/*900px*/

@media (max-width:56em) {
    .content-certification {
        background-size: contain;
        height: 300px;
    }
    .content-certification .container h1 {
        color: transparent;
    }
    /*PRODUCT*/
    header.header-products,
    header.header-home,
    header.header-company {
        background-size: cover;
        background-position: bottom;
    }
    .box-carrosel {
        width: 90%;
    }
    .wrap2 {
        background-color: transparent;
    }
    /*COMPANY*/
    .desc-company-content {
        flex-direction: column !important;
    }
    .desc-company-content img {
        width: 80%;
        margin: 50px auto;
    }
    .desc-company-content p,
    .oncep,
    .oncep,
    .desc-company-content:nth-of-type(2) p {
        padding: 0px 2%;
        text-align: justify;
    }
    footer .container {
        flex-direction: column;
    }
    footer .container .footer-logo {
        margin: 0 auto;
    }
    footer .footer-address {
        padding: 50px;
        text-align: center;
    }
    .footer-social {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .icon-instagram::before,
    .icon-facebook::before,
    .icon-twitter::before,
    .icon-linkedin:before,
    .icon-mail2::before {
        margin-right: 3px !important;
    }
    .footer-social p {
        margin-right: 25px;
    }
    footer .footer-menu {
        max-width: 100%;
        margin: 40px 0px;
    }
    footer .footer-menu ul {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-around;
    }
    .footer-sub p:nth-of-type(2) {
        margin-right: 50px;
    }
}


/*840px*/

@media (max-width: 52em) {
    .content-resAbout .container {
        flex-direction: column-reverse;
    }
    .content-resAbout .container .resAbout-text {
        flex-basis: 100%;
        padding: 30px 2%;
    }
    .resAbout-text p {
        text-align: center;
    }
    .content-resAbout .container .resAbout-img {
        flex-basis: 100%;
    }
}


/*760px*/

@media (max-width:47.5em) {
    .btn-mobile {
        display: flex;
        padding: .5rem 0rem;
        font-size: 1rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 1.5em;
    }
    .hamburger {
        border-top: 2px solid black;
        width: 30px;
        margin-left: 10px;
        margin-top: 4px;
    }
    .hamburger::after,
    .hamburger::before {
        width: 30px;
        height: 2px;
        background-color: currentColor;
        content: "";
        display: block;
        margin-top: 5px;
        transition: .3s;
    }
    .box-menu.active .hamburger {
        border-top-color: transparent;
    }
    .box-menu.active .hamburger::before {
        transform: rotate(135deg);
    }
    .box-menu.active .hamburger::after {
        transform: rotate(-135deg);
        position: relative;
        top: -7px;
    }
    .menu {
        display: inline-block;
        position: absolute;
        width: 100%;
        top: 116px;
        right: 0px;
        height: 0px;
        transition: 1s;
        background-color: #e7e7e7;
        z-index: 10000;
        visibility: hidden;
        overflow-y: hidden;
    }
    .box-menu.active .menu {
        height: calc(100vh - 105px);
        visibility: visible;
    }
    .menu li {
        margin: 0 20px;
    }
    .menu li a {
        padding: 30px 0;
        width: 100%;
        font-size: 1em;
        font-weight: 600;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    .menu li a:hover {
        background-color: rgba(0, 0, 0, .05);
    }
    /*PRODUCT*/
    .box-products:nth-child(odd) {
        flex-direction: column-reverse;
    }
    .box-products:nth-child(even) {
        float: none;
        flex-direction: column-reverse;
    }
    .products-desc .box-products {
        width: 100%;
        height: auto;
    }
    .box-products article {
        flex-basis: 100%;
        padding: 50px 10px;
        text-align: center;
    }
    .box-products article h1 {
        font-size: 2em;
    }
    .box-products article p {
        font-size: 1.2em;
        text-align: justify;
    }
    .box-products .product-img {
        flex-basis: 100%;
        text-align: center;
    }
    .box-products img {
        width: 80%;
        height: 100%;
    }
    /*CONTACT*/
    .header-contact {
        background-size: 100% 100%;
        border-radius: 0 0 50px 50px;
        margin-bottom: 20px;
    }
    .content-form .container {
        flex-direction: column;
    }
    .content-form .container form {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .footer-contact {
        height: 300px;
    }
    /*ARTICLES HOME*/
    .content-previu-box article p {
        font-size: 0.9em;
    }
    .footer-sub {
        flex-direction: column;
        text-align: center;
    }
    .footer-social {
        flex-direction: column;
        text-align: left;
    }
    footer .footer-address {
        padding: 30px 2%;
        width: 100%;
    }
    .footer-sub p:nth-of-type(2) {
        margin-right: 0px !important;
        margin-top: 10px;
    }
    .content-resAbout-video .resAbout-text h1 {
        width: 100%;
        font-size: 2.6em;
    }
    .content-resAbout-video .container .resAbout-text,
    .content-resAbout-product .container .resAbout-text,
    .content-resAbout .container .resAbout-text {
        padding: 30px 0;
    }
    .content-resAbout-product .resAbout-text h1 {
        width: 100%;
    }
    .resAbout-text p {
        font-size: 1em;
        width: 100%;
        height: auto;
        margin: 0 auto 50px auto;
    }
    .content-resAbout-product,
    .content-resAbout {
        background-position: 52% center;
    }
    /*520px*/
    @media (max-width: 33em) {
        .header-message {
            margin: 0px auto;
        }
        .header-message h1 {
            margin: 50px 0px;
            font-size: 2.5em;
        }
        .header-message p {
            font-size: 1.2em;
        }
        .resAbout-text h1 {
            text-align: center;
        }
        .resAbout-text p {
            text-align: center;
        }
        .content-previu-box {
            flex-direction: column !important;
            padding: 0 2%;
        }
        .content-previu-box:nth-of-type(2) article,
        .content-previu-box:nth-of-type(4) article {
            border-radius: 20px 20px 20px 20px;
            border-left: 2px solid #BFA084 !important;
            border-right: 2px solid #BFA084 !important;
        }
        .content-previu-box article {
            border-top: 2px solid #BFA084;
            border-right: 2px solid #BFA084;
            border-bottom: 2px solid #BFA084;
            border-left: 2px solid #BFA084;
            border-radius: 20px 20px 20px 20px;
            margin-top: 8px;
        }
        .content-certification {
            background-size: 100% 100%;
            height: 200px;
        }
        /*PRODUCT*/
        header.header-products {
            margin-bottom: 30px;
        }
        .header-message-contact {
            margin: 0px auto;
        }
        .contact-product .contact-title {
            width: 100%;
            padding: 0 2%;
            margin: 0px auto 50px auto;
            text-align: center;
        }
        .products-desc {
            padding: 0 2%;
        }
        .box-products article p {
            font-size: 1em;
            text-align: justify;
        }
        .content-wrap {
            margin: 20px 0;
        }
        .header-message-product {
            margin: 0px auto;
            padding: 20px 0;
        }
        footer .footer-address {
            text-align: justify;
        }
        .footer-sub p {
            text-align: left;
        }
    }
    /*360px*/
    @media (max-width: 23em) {
        .content-wrap .wrap {
            width: 300px;
        }
        .content-certification {
            height: 200px;
            background-color: #f2f2f2;
        }
        .box-menu {
            flex-basis: calc(100% - 180px);
        }
        .desc-company-content img {
            width: 95%;
            margin: 50px auto;
        }
        .content-resAbout-contact .container h1 {
            width: 100%;
            height: 280px;
            font-size: 2.5em;
        }
    }
    /*320px*/
    @media (max-width:20em) {
        .box-menu {
            flex-basis: calc(100% - 200px);
        }
    }
}