* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins-Regular";
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}


/*STYLE ICONS TRANSLATE*/

.icon-spanish {
    opacity: 1;
    line-height: 38px;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    display: block;
    text-align: center;
    transition: all .2s linear;
    z-index: 99;
    width: 38px;
    height: 38px;
    bottom: 50px;
    right: 20px;
}

.icon-english {
    opacity: 1;
    line-height: 38px;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    display: block;
    text-align: center;
    transition: all .2s linear;
    z-index: 99;
    width: 38px;
    height: 38px;
    bottom: 80px;
    right: 20px;
}

.icon-portuguese {
    opacity: 1;
    line-height: 38px;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    display: block;
    text-align: center;
    transition: all .2s linear;
    z-index: 99;
    width: 38px;
    height: 38px;
    bottom: 20px;
    right: 20px;
}


/*END ICONS TRANSLATE*/

header {
    height: 100vh;
    width: 100%;
    background-image: url("../imgs/banner/banner17.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    border-radius: 0 0 150px 150px;
}

.sub-header {
    background-color: #FFF;
    /* background-color: #e7e7e7; */
    width: 100%;
    box-shadow: 1px -2px 8px 2px #222222;
}

header .container {
    display: flex;
}

.box-logo {
    flex-basis: 100%;
    max-width: 180px;
    padding: 10px;
}

.box-logo img {
    width: 100%;
}

.box-menu {
    flex-basis: calc(100% - 200px);
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menu li {
    display: flex;
    align-items: center;
}

.menu li a {
    display: flex;
    align-items: center;
    padding: 0 26px;
    color: #145238;
    font-size: 1em;
    text-decoration: none;
    font-family: "Poppins-Regular";
}

.menu li a::before {
    width: 30px;
    height: 2px;
    background-color: red;
    margin: 0 auto;
}

.menu li a:hover {
    color: #58a518;
}

.btn-mobile {
    display: none;
    margin: 40px 50px;
    padding: 0 30px;
    font-size: 1em;
}

.header-message {
    width: 100%;
    max-width: 600px;
    background-color: rgba(180, 180, 180, 0.5);
    margin: 120px auto;
    text-align: center;
    font-family: "Poppins-SemiBold";
    padding: 40px 0;
}

.header-message h1 {
    font-size: 4em;
    color: #e7e7e7;
    text-shadow: 1px 1px 1px #000;
}

.header-message p {
    font-size: 1.5em;
    color: #222222;
}


/*SECTION PREVIU*/

.content-previu {
    padding: 50px 2%;
    width: 100%;
}

.content-previu .container {
    max-width: 900px;
}

.content-previu-text {
    text-align: center;
}

.content-previu-text .content-wrap h1 {
    font-weight: 300;
    width: 130px;
    margin: 20px auto;
    background-color: #FFF;
    z-index: 99999;
    position: relative;
    color: #3d3d3d;
}

.content-wrap .wrap {
    width: 350px;
    height: 2px;
    position: relative;
    top: -35px;
    margin: 0 auto;
    background-color: #BFA084;
}

.content-previu-text p {
    font: size 1em;
    color: #3d3d3d;
}

.content-previu-box {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}

.content-previu-box .box-img {
    flex-basis: 30%;
    height: 200px;
}

.content-previu-box .box-img img {
    width: 100%;
    height: 100%;
}

.content-previu-box article {
    flex-basis: 70%;
    border-top: 2px solid #BFA084;
    border-right: 2px solid #BFA084;
    border-bottom: 2px solid #BFA084;
    border-radius: 0 20px 20px 0;
    padding: 20px;
    text-align: justify;
    color: #3d3d3d;
}

.content-previu-box:nth-of-type(2) .box-img,
.content-previu-box:nth-of-type(4) .box-img {
    height: auto;
}

.content-previu-box:nth-of-type(2),
.content-previu-box:nth-of-type(4) {
    flex-direction: row-reverse;
}

.content-previu-box:nth-of-type(2) article,
.content-previu-box:nth-of-type(4) article {
    border-radius: 20px 0 0 20px;
    border-left: 2px solid #BFA084;
    border-right: none;
}


/*resAbout*/

.content-resAbout {
    background-color: #f2f2f2;
    padding: 30px 2%;
}

.content-resAbout .container {
    display: flex;
    flex-direction: row;
}

.content-resAbout .container .resAbout-img {
    flex-basis: 50%;
}

.content-resAbout .container .resAbout-img img {
    width: 100%;
    height: 100%;
    box-shadow: -2px 2px 10px 1px #222;
}

.content-resAbout .container .resAbout-text {
    flex-basis: 50%;
    padding: 30px;
}

.resAbout-text h1 {
    margin: 20px 0 40px 0;
    color: #222222;
}

.resAbout-text p {
    text-align: right;
    color: #3d3d3d;
}


/*Certification*/

.content-certification {
    background-image: url("../imgs/banner/certificado.jpg");
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

.content-certification .container h1 {
    padding-top: 50px;
    font-size: 3em;
    color: #FFF;
    text-align: center;
    position: relative;
    z-index: 99999;
}

.wrap2 {
    width: 250px;
    height: 4px;
    position: relative;
    top: -9px;
    margin: 0 auto;
    background-color: #FFF;
}


/*FOOTER*/

footer {
    background-color: #f2f2f2;
    padding: 50px 2%;
}

footer .container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo,
.footer-address,
.footer-social,
.footer-menu {
    flex-basis: calc(100% / 4);
}

footer .container .footer-logo {
    max-width: 220px;
}

footer .container .footer-logo img {
    width: 100%;
    height: 90%;
}

.footer-social {
    max-width: 200px;
}

.footer-social p a {
    text-decoration: none;
    color: #222222;
}

.footer-social p a:hover {
    text-decoration: underline;
}

.footer-menu {
    max-width: 150px;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #222222;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

.footer-sub {
    flex-basis: 100%;
    border-top: 2px solid #222;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.footer-sub p a {
    color: #222222;
}


/*MEDIA QUERY*/


/*840px*/

@media (max-width: 52em) {
    .content-resAbout .container {
        flex-direction: column-reverse;
    }
    .content-resAbout .container .resAbout-text {
        flex-basis: 100%;
        padding: 30px 2%;
    }
    .resAbout-text p {
        text-align: left;
    }
    .content-resAbout .container .resAbout-img {
        flex-basis: 100%;
    }
}


/*760px*/

@media (max-width:47.5em) {
    .btn-mobile {
        display: flex;
        padding: .5rem 0rem;
        font-size: 1rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 1.5em;
    }
    .hamburger {
        border-top: 2px solid black;
        width: 30px;
        margin-left: 10px;
        margin-top: 4px;
    }
    .hamburger::after,
    .hamburger::before {
        width: 30px;
        height: 2px;
        background-color: currentColor;
        content: "";
        display: block;
        margin-top: 5px;
        transition: .3s;
    }
    .box-menu.active .hamburger {
        border-top-color: transparent;
    }
    .box-menu.active .hamburger::before {
        transform: rotate(135deg);
    }
    .box-menu.active .hamburger::after {
        transform: rotate(-135deg);
        position: relative;
        top: -7px;
    }
    .menu {
        display: inline-block;
        position: absolute;
        width: 100%;
        top: 116px;
        right: 0px;
        height: 0px;
        transition: 1s;
        background-color: #e7e7e7;
        z-index: 10000;
        visibility: hidden;
        overflow-y: hidden;
    }
    .box-menu.active .menu {
        height: calc(100vh - 105px);
        visibility: visible;
    }
    .menu li {
        margin: 0 20px;
    }
    .menu li a {
        padding: 30px 0;
        width: 100%;
        font-size: 1em;
        font-weight: 600;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    .menu li a:hover {
        background-color: rgba(0, 0, 0, .05);
    }
    /*ARTICLES*/
    .content-previu-box article p {
        font-size: 0.9em;
    }
    /*520px*/
    @media (max-width: 33em) {
        header {
            border-radius: 0 0 100px 100px;
        }
        .header-message {
            margin: 0px auto;
        }
        .header-message h1 {
            margin: 50px 0px;
            font-size: 2.5em;
        }
        .header-message p {
            font-size: 1.2em;
        }
        .resAbout-text h1 {
            text-align: center;
        }
        .resAbout-text p {
            text-align: center;
        }
        .content-previu-box {
            flex-direction: column !important;
        }
        .content-previu-box:nth-of-type(2) article,
        .content-previu-box:nth-of-type(4) article {
            border-radius: 20px 20px 20px 20px;
            border-left: 2px solid #BFA084 !important;
            border-right: 2px solid #BFA084 !important;
        }
        .content-previu-box article {
            border-top: 2px solid #BFA084;
            border-right: 2px solid #BFA084;
            border-bottom: 2px solid #BFA084;
            border-left: 2px solid #BFA084;
            border-radius: 20px 20px 20px 20px;
            margin-top: 8px;
        }
    }
    /*360px*/
    @media (max-width: 23em) {
        .content-wrap .wrap {
            width: 300px;
        }
    }
    /*320px*/
    @media (max-width:20em) {}
}